API_PORT=8080

POSTGRES_PORT=5432
POSTGRES_USER=sports
POSTGRES_PASSWORD=change_me
POSTGRES_DB=sports_facility_booking

MONGO_PORT=27017
MONGO_ROOT_USERNAME=mongo_admin
MONGO_ROOT_PASSWORD=mongo_admin
MONGO_DATABASE=sports_facility_booking
MONGO_HOST=mongo

RABBIT_USER=testRabbit
RABBIT_PASSWORD=change_me
RABBIT_PORT=5672
RABBIT_MANAGEMENT_PORT=15672
RABBIT_HOST=rabbit
RABBIT_EXCHANGE=sports.events
RABBIT_QUEUE=sports.measurements
RABBIT_ROUTING_KEY=measurement.created
RABBIT_EXCHANGE_DLQ=sports.events.dlq
RABBIT_QUEUE_DLQ=sports.measurements.dlq
RABBIT_ROUTING_KEY_DLQ=measurement.created.dlq

TELEGRAM_BOT_TOKEN=change_me
TELEGRAM_CHAT_ID=0
TELEGRAM_NOTIFICATION_MODE=telegram
